


header{
  background-color: aquamarine;
}
header h1{
  font-family: cursive;
  text-align: center;
}
header h3{
  text-align: center;
}
nav{
  text-align: center;
}

nav a{
  margin-right: 10px;
  text-align: center;
}

table{
  min-width: 800px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-color: beige;
  border-style: double;

}
table th{
  padding-bottom: 10px;
  text-align: left;
  background-color: bisque;
}
table tbody{
  background-color: lavender;
  text-align: left;
  
}

/* .Record{
  background-color: fuchsia;
} */
